<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.mapper.QnAMapper">

	<!-- 게시글 전체 조회 -->
	<select id="selectQnA" resultType="QnADto">
		select no, uid, title, content, regdt
		  from qna_board 
		 order by no desc
	</select>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectQnAByNo" resultType="QnADto">
		select no, uid, title, content, regdt
		  from qna_board 
		 where no = #{no}
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertQnA" parameterType="QnADto">
		insert into qna_board(
			uid, title, content, regdt
		) values (
			#{uid}, #{title}, #{content}, now()
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateQnA" parameterType="QnADto">
		update qna_board 
		   set title = #{title}, 
		   	   content = #{content}
		 where no = #{no}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteQnA" parameterType="int">
		delete 
		  from qna_board 
		 where no = #{no}
	</delete>
	
	<!-- 코멘트 전체 조회 -->
	<select id="selectComment" resultType="CommentDto">
		select cid, bid, uid, content, regdt
		  from qna_comment
		 where bid = #{no}
		 order by cid desc
	</select>
	
	<!-- 코멘트 등록 -->
	<insert id="insertComment" parameterType="CommentDto">
		insert into qna_comment(
			bid, uid, content, regdt
		) values (
			#{bid}, #{uid}, #{content}, now()
		)
	</insert>
	
	<!-- 코멘트 수정 -->
	<update id="updateComment" parameterType="CommentDto">
		update qna_comment 
		   set content = #{content}
		 where cid = #{cid}
	</update>

	<!-- 코멘트 삭제 -->
	<delete id="deleteComment" parameterType="int">
		delete 
		  from qna_comment 
		 where cid = #{cid}
	</delete>

</mapper>

